<mat-toolbar>
    <button mat-icon-button color="primary" (click)="goBack()">
        <mat-icon class="mat-18">navigate_before</mat-icon>
    </button>
</mat-toolbar>

<mat-card class="top-card mat-elevation-z0" *ngIf="(student | async) as student">
        <mat-card-header>
            <mat-card-title>{{student?.firstName}} {{student?.lastName}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
        </mat-card-content>
</mat-card>

<mat-card class="top-card mat-elevation-z0" *ngIf="block">
    <mat-card-header>
        <mat-card-title>{{block?.title}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        {{block?.description}}
    </mat-card-content>
</mat-card>

<app-grid-student-multi
[xHeaders]="xHeadersList"
[yHeaders]="yHeadersList"
[cells]="cellsList"
[eventCount]="eventCount"
[attainedCells]="attainedCells"
[learningEvents]="learningEvents"
(contextSend)="multiAdd($event)"
(eventSendLoad)="loadEvents($event)"
></app-grid-student-multi>


<!-- <app-grid-student
[xHeaders]="xHeadersList"
[yHeaders]="yHeadersList"
[cells]="cellsList"
[attainedCells]="attainedCells"
(keySend)="change($event)"
></app-grid-student> -->