<mat-toolbar>
    <button mat-icon-button color="primary" (click)="goBack()">
        <mat-icon class="mat-18">navigate_before</mat-icon>
    </button>
    <span class="example-spacer"></span>
    <button *ngIf="block&&!block?.isMulti" mat-raised-button color="primary" (click)="add(context)">
            Context
    </button>
</mat-toolbar>
<div fxLayout="row" fxLayout.xs="column">
<mat-card class="top-card mat-elevation-z0" *ngIf="(student | async) as student">
        <mat-card-header>
            <mat-card-title><h3>{{student?.firstName}} {{student?.lastName}}</h3></mat-card-title>
            <mat-card-subtitle>{{student?.yrLvl}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
        </mat-card-content>
</mat-card>
<mat-card class="top-card mat-elevation-z0" *ngIf="block">
    <mat-card-header>
            <mat-card-title><b *ngIf="block?.isMulti">Multi</b></mat-card-title>
       <mat-card-title><h3>{{block?.title}}</h3></mat-card-title>
    </mat-card-header>
    <mat-card-content>
        {{block?.description}}
    </mat-card-content>
</mat-card>
<mat-card class="top-card  mat-elevation-z0" *ngIf="context">
        <mat-card-header fxLayout="row" fxLayout.xs="column">
            <h5>{{context.lastModified | date}}</h5>
            <a *ngIf="context.furtherInformationUrl" href="{{context.furtherInformationUrl}}" target="_blank" mat-icon-button>
                <mat-icon class="mat-18">link</mat-icon>
            </a>
        </mat-card-header>
        <mat-card-content >
                <p class="italics">{{context.context}}</p>   
        </mat-card-content>
</mat-card>
</div>

<app-grid-student-multi *ngIf="multiId; else other"
[xHeaders]="xHeadersList"
[yHeaders]="yHeadersList"
[cells]="cellsList"
[eventCount]="eventCount"
[attainedCells]="attainedCells"
[isMulti]="multiId"
[learningEvents]="learningEvents"
(contextSend)="multiAdd($event)"
(eventRemoveSend)="removeEvent($event)"
></app-grid-student-multi>

<ng-template #other>
<app-grid-student
[xHeaders]="xHeadersList"
[yHeaders]="yHeadersList"
[cells]="cellsList"
[attainedCells]="attainedCells"
[isMulti]="multiId"
(keySend)="change($event)"
></app-grid-student>
</ng-template>