<mat-toolbar>
  <!-- <button mat-icon-button color="primary" (click)="goBack()">
      <mat-icon class="mat-18">navigate_before</mat-icon>
  </button> -->
  <button mat-icon-button (click)="add()">
      <mat-icon class="mat-18">add</mat-icon>
  </button>
</mat-toolbar>

<div id="search-box"></div>
<mat-list dense id="hits"></mat-list>

<mat-input-container *ngIf="filtered" class="full-width" floatPlaceholder="auto">
    <input matInput
            type="text"
            placeholder="Search"
            (keyup)="search(input.value)" 
            autocomplete="off"
            #input
            >
</mat-input-container>

<mat-list dense>
  <mat-list-item *ngFor="let item of filtered">      
      <h3 mat-subheader>{{item?.firstName}} {{item?.lastName}}</h3>
      <p>{{item?.yrLvl}}</p>    
      <span class="example-spacer"></span>
      <a routerLink="{{item.key}}" mat-button>Learning</a> 
  </mat-list-item>
</mat-list>

<!-- <div class="wrapper">
  <mat-card *ngFor="let item of items | async">
      <mat-card-header>
          <mat-card-title>{{item?.firstName}} {{item?.lastName}}</mat-card-title>
          <mat-card-subtitle fxLayout="column"> 
          </mat-card-subtitle>
          <span class="example-spacer"></span>
          <button mat-icon-button class="right" [matMenuTriggerFor]="menu">
              <mat-icon>more_vert</mat-icon>
          </button>        
      </mat-card-header>
      <mat-card-content>
          {{item?.description}}
      </mat-card-content>
      <mat-card-actions align="start"> 
          <a [routerLink]="[ '../../block', item.key ]" mat-button color="primary">Block</a>           
      </mat-card-actions>
      <mat-menu #menu="matMenu">
      <button (click)="add(item)" mat-menu-item>
          <mat-icon>mode_edit</mat-icon>
          <span>Edit</span>
      </button>
      <button (click)="delete(item)" mat-menu-item>
          <mat-icon>delete</mat-icon>
          <span>Delete</span>
      </button>
      <button mat-menu-item disabled>
          <mat-icon>lock</mat-icon>
          <span>Lock</span>
      </button>
      </mat-menu>
  </mat-card>
</div>
 -->
