<mat-card class="top-card mat-elevation-z0" *ngIf="(student | async) as student">
    <mat-card-header>
        <mat-card-title>{{student?.firstName}} {{student?.lastName}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
    </mat-card-content>
</mat-card>


<mat-card *ngFor="let group of enrolledGroupKeys">
    <mat-card-header>
        <mat-card-title>{{enrolledGroups[group]?.title}}</mat-card-title>
        <mat-card-subtitle fxLayout="column"> 
            <span>{{enrolledGroups[group]?.learningYear}}</span>
            <span>{{learningAreas[enrolledGroups[group]?.learningArea]?.title}}</span>
            <span>{{enrolledGroups[group]?.learningLevel}}</span>
        </mat-card-subtitle>
        <span class="example-spacer"></span>      
    </mat-card-header>
    <mat-card-content>
        <mat-list dense>
            <mat-list-item *ngFor="let block of blockArrayForGroupKey[group]">      
                <h2 mat-subheader>{{enrolledBlocks[block]?.title}}</h2>
                <p>{{enrolledBlocks[block]?.description}}</p>    
                <span class="example-spacer"></span>
                <p>{{status[block]}}</p>
                <a mat-icon-button [routerLink]="['learning',group,block]">
                    <mat-icon color="primary" class="mat-18">navigate_next</mat-icon>
                </a> 
            </mat-list-item>
        </mat-list>
    </mat-card-content>
</mat-card>

<!-- {{ enrolledBlocks | json }} -->