.wrapper {
    margin-top: 10px;
    display: grid;
}

.blank {
    padding-top: 20px;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.header {
    background-color: whitesmoke;
}

.highlight {
    background-color: #FFEB3B;
}