{{ warning }}
<div class="wrapper" [ngStyle]="template()">
    <div class="blank"></div>
    <mat-card class='header' *ngFor="let x of xHeaders; let i = index" [ngStyle]="xheader(i+1)">
      <mat-card-header>
          <mat-card-title><h2>{{x?.title}}</h2></mat-card-title>
          <span class="example-spacer"></span>      
      </mat-card-header>
      <mat-card-content>
          {{x?.description}}
      </mat-card-content>
    </mat-card>
    <mat-card class='header' *ngFor="let y of yHeaders; let i = index" [ngStyle]="yheader(i+1)">
        <mat-card-header>
            <mat-card-title>{{y?.title}}</mat-card-title>
            <span class="example-spacer"></span>      
        </mat-card-header>
        <mat-card-content>
            {{y?.description}}
        </mat-card-content>
    </mat-card>
    <!--  -->
    <mat-card *ngFor="let cell of cells; let i = index">
        <hr *ngIf="isEvent(cell.key)">
        <mat-card-header>
            <mat-card-title>{{cell?.title}}</mat-card-title>
            <mat-card-subtitle *ngIf="isEvent(cell.key)"> {{ eventCount[cell.key] }} Events </mat-card-subtitle>
            <span class="example-spacer"></span>                           
        </mat-card-header>
        <mat-card-content>
            {{cell?.description}}
        </mat-card-content>
        <mat-card-actions>
            <button mat-icon-button (click)="add(cell.key)">
                <mat-icon color="primary" class="mat-18">add</mat-icon>
            </button>
        </mat-card-actions>
        <mat-card-content *ngIf="edit===cell.key">
            <mat-input-container class="full-width" floatPlaceholder="auto">
                <input matInput
                        type="text"
                        placeholder="Context"
                        (keyup.enter)="addContext(input.value, cell.key)" 
                        #input
                        >
              </mat-input-container>
        </mat-card-content>
        <mat-card-content *ngIf="learningEvents">
                <mat-list dense>
                        <mat-list-item *ngFor="let event of learningEvents[cell.key]" [matMenuTriggerFor]="menu">
                            <h3 mat-subheader>{{event?.context}}</h3>
                            <p></p>    
                            <span class="example-spacer"></span>
                            <p>{{event?.created | date : 'MMM d'}}</p> 
                            <mat-menu #menu="matMenu">
                                    <mat-menu #menu="matMenu">
                                        <button mat-menu-item (click)="removeEvent(event.key,cell.key)">
                                            <mat-icon> delete </mat-icon>
                                            <span> Delete </span>
                                        </button>
                                    </mat-menu>
                            </mat-menu>
                        </mat-list-item>
                      </mat-list>
        </mat-card-content>
        
    </mat-card>  
  </div>