.wrapper {
    margin-top: 10px;
    display: grid;
}

.blank {
    padding-top: 20px;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.header {
    background-color: whitesmoke;
}

hr {
    display: block;
    height: 5px;
    background-color: #FFEB3B;
    border: 0;
    border: solid 3px #FFEB3B;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-bottom: 1em;
    padding: 0;
}

.highlight10 {
    background-color: #fffbd7;
}

.highlight20 {
    background-color: #fff9c4;
}

.highlight30 {
    background-color: #fff7b0;
}

.highlight40 {
    background-color: #fff59d;
}

.highlight50 {
    background-color: #fff389;
}

.highlight60 {
    background-color: #fff175;
}

.highlight70 {
    background-color: #ffef62;
}

.highlight80 {
    background-color: #ffed4e;
}

.highlight90 {
    background-color: #FFEB3B;
}

mat-list-item:hover {
    background-color: whitesmoke;
}

