<mat-tab-group>
    <mat-tab label="Cohorts">
      List of Cohorts
    </mat-tab>
    <mat-tab label="Create Cohorts">
        <div *ngIf="searchObject" fxLayout="column">
            <mat-input-container class="full-width" floatPlaceholder="auto">
              <input matInput
                      type="text"
                      placeholder="Search"
                      [formControl]="term">
            </mat-input-container>
              <div *ngIf="hits && hits.length > 0" fxLayout="row" fxLayoutGap="5px">
                <button mat-button (click)="students.selectAll()">Select All</button>
                <button mat-button (click)="students.deselectAll()">Deselect All</button>
                <button mat-raised-button *ngIf="students.selectedOptions.selected.length > 0" color="primary" (click)="add(students)">Create Cohort</button>
              </div>
            </div>
            <mat-selection-list #students>
              <mat-list-option *ngFor="let item of hits" [value]="item.key">   
                {{ item.firstName }} {{item.lastName}} {{item.yrlvl}}
              </mat-list-option>
            </mat-selection-list>

    </mat-tab>
  </mat-tab-group>



