<div class="wrapper" [ngStyle]="template()">
  <div class="blank"></div>
  <mat-card class='header' *ngFor="let x of xHeaders; let i = index" [ngStyle]="xheader(i+1)">
    <mat-card-header>
        <mat-card-title><h2>{{x?.title}}</h2></mat-card-title>
        <span class="example-spacer"></span>      
    </mat-card-header>
    <mat-card-content>
        {{x?.description}}
    </mat-card-content>
  </mat-card>
  <mat-card class='header' *ngFor="let y of yHeaders; let i = index" [ngStyle]="yheader(i+1)">
      <mat-card-header>
          <mat-card-title>{{y?.title}}</mat-card-title>
          <span class="example-spacer"></span>       
      </mat-card-header>
      <mat-card-content>
          {{y?.description}}
      </mat-card-content>
  </mat-card>
  <mat-card *ngFor="let cell of cells; let i = index">
      <mat-card-header>
          <mat-card-title>{{cell?.title}}</mat-card-title>
          <span class="example-spacer"></span>       
      </mat-card-header>
      <mat-card-content>
          {{cell?.description}}
      </mat-card-content>
      <mat-card-actions *ngIf="actions">
        <button mat-button color="primary" (click)="addStudents(cell.key)">Add Students</button>
        <button mat-button color="primary" (click)="seeStudents(cell.key)">Students</button>
      </mat-card-actions> 
  </mat-card>  
</div>