<mat-toolbar>
    <button mat-icon-button color="primary" (click)="goBack()">
        <mat-icon class="mat-18">navigate_before</mat-icon>
    </button>
    <button mat-icon-button (click)="add()">
        <mat-icon class="mat-18">add</mat-icon>
    </button>
</mat-toolbar>

{{ groupID }}

<!-- Matrix Name -->
<mat-card class="top-card mat-elevation-z0" *ngIf="(group | async) as group">
    <mat-card-header>
        <mat-card-title>{{group?.title}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        {{group?.description}}
    </mat-card-content>
</mat-card>


<!-- Listß Name -->
<mat-list dense>
    <mat-list-item *ngFor="let item of items | async" [routerLink]="[ '../../matrix', item.key ]">      
        <h3 mat-subheader>{{item?.title}}</h3>
        <span class="example-spacer"></span>
        <p>{{item?.lastModified | date}}</p>
        <button mat-icon-button class="right" [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
                <button (click)="add(item)" mat-menu-item>
                    <mat-icon>mode_edit</mat-icon>
                    <span>Edit</span>
                </button>
                <button (click)="delete(item)" mat-menu-item>
                    <mat-icon>delete</mat-icon>
                    <span>Delete</span>
                </button>
                <button mat-menu-item disabled>
                    <mat-icon>lock</mat-icon>
                    <span>Lock</span>
                </button>
                </mat-menu> 
    </mat-list-item>
</mat-list>

