.wrapper {
    margin-top: 10px;
    display: grid;
}

.blank {
    padding-top: 20px;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.header {
    background-color: whitesmoke;
}

.top-card {
    border-bottom: 2px solid whitesmoke;
    border-left: 2px solid whitesmoke;
}

mat-list-item:hover {
    background-color: whitesmoke;
}
