<mat-toolbar>
    <button mat-icon-button color="primary" (click)="goBack()">
        <mat-icon class="mat-18">navigate_before</mat-icon>
    </button>
    <span class="example-spacer"></span>
  <div *ngIf="(block | async) as block">
    <div *ngIf="!block.isLocked"> 
      <button *ngIf="!block.isLocked" mat-icon-button>
          <mat-icon class="mat-18" (click)="show(true)">add</mat-icon>
      </button>
      <button class="space" mat-raised-button color="primary" (click)="lock()">Lock</button>
      <button class="space" mat-raised-button color="primary" (click)="clear()" >Clear</button>
      <button *ngIf="!block?.isMulti" mat-raised-button color="primary" (click)="multi(true)">Multi On</button>
      <button *ngIf="block?.isMulti" mat-raised-button color="primary" (click)="multi(false)">Multi Off</button> 
    </div>
    <div *ngIf="block?.isLocked"> 
        <button *ngIf="auth.admin(user)" class="space" mat-raised-button (click)="enroll()">Enroll </button>
        <button *ngIf="auth.admin(user)" class="space" mat-raised-button (click)="unenroll()">Unenroll </button>
    </div>
  </div>
</mat-toolbar>

<mat-card class="top-card mat-elevation-z0" *ngIf="(block | async) as block">
    <mat-card-header>
        <mat-card-title>{{block?.title}}<b *ngIf="block?.isMulti">Multi</b></mat-card-title>
        <span class="example-spacer"></span>
    </mat-card-header>
    <mat-card-content>
        {{block?.description}}
    </mat-card-content>
</mat-card>

<div class="top-card" *ngIf="matrixLoad">
<button mat-icon-button (click)="show(false)">
    <mat-icon class="mat-18">close</mat-icon>
</button>
<mat-horizontal-stepper [linear]="true">
  <mat-step label="Choose Matrix">
    <mat-list dense>
      <mat-list-item *ngFor="let item of items | async">
        <h3 mat-subheader>{{item?.title}}</h3>
        <span class="example-spacer"></span>
        <p>{{item?.lastModified | date}}</p>
        <button mat-icon-button color="primary" matStepperNext (click)="first(item)">
          <mat-icon class="mat-18">navigate_next</mat-icon>
        </button>
        </mat-list-item>
      </mat-list>
  </mat-step>
  <mat-step label="Choose Matrix Version">
    <mat-list dense>
      <mat-list-item *ngFor="let item of versions | async">
        <h3 mat-subheader>{{item?.title}}</h3>
        <span class="example-spacer"></span>
        <p>{{item?.lastModified | date}}</p>
        <button mat-icon-button color="primary" matStepperNext (click)="second(item)">
          <mat-icon class="mat-18">navigate_next</mat-icon>
        </button>
      </mat-list-item>
  </mat-list>
  </mat-step>
  <mat-step label="Load Matrix Version">
    <mat-card class="top-card mat-elevation-z0">
      <mat-card-header>
        <mat-card-title>{{chosenMatrixVersion?.title}}</mat-card-title>
        <mat-card-subtitle>{{chosenMatrixVersion?.lastModified}}</mat-card-subtitle>
      </mat-card-header>
    </mat-card>
    <div>
      <button mat-raised-button color="primary" (click)="load()">Load</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>
</div>



<app-grid-key
[xHeaders]="xHeadersList"
[yHeaders]="yHeadersList"
[cells]="cellsList"
[actions]="false"
></app-grid-key>