/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

mat-card {
    margin-bottom: 3px;
    margin-right: 3px;
}

.top-card {
  border-bottom: 2px solid whitesmoke;
  border-left: 2px solid whitesmoke;
}

.example-spacer {
	flex: 1 1 auto;
  }

.italics {
  font-style: italic;
}